[user]
	name = Aaron Bull Schaefer
	email = aaron@elasticdog.com
[alias]
	amend = commit --amend
	ap = add --patch
	br = branch
	branches = branch -a
	ci = commit --verbose
	co = checkout
	contains = "!sh -c 'git branch -a --contains $1' -"
	dc = diff --color-words="[^[:space:]]|([[:alnum:]]|UTF_8_GUARD)+"
	df = diff
	discard = checkout --
	ds = diff --stat
	empty-tree-sha1 = hash-object -t tree /dev/null
	gone = !git log --diff-filter=D --summary
	lc = log ORIG_HEAD.. --stat --no-merges
	lo = log --all --date-order --oneline --graph --decorate -M -C
	lob = log --date-order --oneline --graph --decorate -M -C
	low = log --all --date-order --pretty=custom --graph --date=relative -M -C
	patch = format-patch --patience --full-index -M -C
	pr = "!f() { git fetch upstream pull/$1/head:pr/$1; }; f"
	pushf = push --force-with-lease
	rb = rebase
	rbi = rebase --interactive --autosquash
	serve = !git daemon --reuseaddr --verbose --base-path=. --export-all ./.git
	st = status --short --branch
	staged = diff --cached
	stashes = stash list
	tags = tag
	uncommit = reset --mixed HEAD~
	unstage = reset -q HEAD --
	weekly = log --all --author 'Aaron Bull Schaefer' --since '1 week ago' --oneline
	whitespace = !git diff --check $(git empty-tree-sha1)
	who = shortlog --summary --email --
	whois = "!sh -c 'git log -i -1 --pretty=\"format:%an <%ae>\n\" --author=\"$1\"' -"
[color]
	ui = auto
[core]
	editor = vim -f
	excludesfile = ~/.gitignore
	untrackedCache = true
[diff]
	algorithm = histogram
[init]
	templatedir = ~/.git_template
[merge]
	conflictstyle = diff3
	tool = gvimdiff
[push]
	default = current
[pretty]
	custom = format:%C(yellow)%h%C(green)%d%C(reset) %s %C(cyan)[%cr] %C(magenta)<%an>%C(reset)
[transfer]
	fsckobjects = true
[rerere]
	enabled = 1
