[commit]
	verbose = true
[core]
	excludesFile = ~/.config/git/ignore
[init]
	defaultBranch = main
[push]
	default = current
[remote]
	pushdefault = origin
[user]
	name = {{ .full_name }}
	email = {{ .email }}
	useConfigOnly = true
